@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Work Sans'; /* not template */
    font-family: "PT Sans", sans-serif; /* not template */
    font-style: normal;
    margin: 0;
    padding: 0;
}


header.menu {
    height: auto;
    background-color: #89C2D2;
    padding: 20px 268px 0 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-main {
    font-size: 36px; /* not template */
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #216477;

    background-color: #9DCDDA;
    display: flex;
    gap: 28px;
    padding: 5px 32px;
    border-radius: 40px 40px 0 0;
}
nav.menu-nav {
    display: flex;
    gap: 20px;
}


main.wrapper {
    padding: 0 268px;
}
.regular-text {
    font-size: 36px; /* not template */
    font-weight: normal;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #216477;
    word-wrap: break-word;

    margin: 0;
}
.text-special-selection {
    background-color: #FFBA73;
    border-radius: 40px;
    padding: 0 25px 5px 25px;
    height: min-content;
}
.section-free-heading {
    font-size: 70px; /* not template */
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    color: #216477;

    margin-top: 130px;
}

.sections {
    margin-top: 90px;
}
.main-headings {
    font-size: 60px; /* not template */
    font-weight: 900;
    text-align: left;
    color: #216477;

    background-color: #9DCDDA;
    padding: 5px 32px;
    border-radius: 40px 40px 40px 0;
    display: inline;
}
.description-text {
    margin-top: 70px;
}
.section-1-categories {
    display: flex;
    justify-content: space-between;
    gap: 72px;

    margin-top: 85px;
}
.section-1-categories-card {
    display: flex;
    gap: 25px;
}
.bullets {
    font-size: 50px;
    padding: 0 25px;
}
.subheadings {
    margin: 0;
    font-size: 50px;
}
.section-1-categories-card-text {
    display: flex;
    flex-direction: column;
    gap: 23px;
    max-width: 570px;
    word-wrap: break-word;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 85px;
    justify-content: space-between;

    margin: 90px 0;
}
.articles-card a {
    text-decoration: none;
    color: #216477;
}

.articles-card {
    border-radius: 40px;
    overflow: hidden;
}
.articles-card-image {
    height: 245px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles-card-description {
    display: flex;
    flex-direction: column;
    background-color: #FFBA73;
    padding: 45px 45px 70px 45px;
    width: 555px;
    height: max-content;
    gap: 40px;
    min-height: 228px;

    border-radius: 0 0 40px 40px;
}
.articles-card-description-heading {
    margin: 0;
}


.button-more-articles {
    background-color: #FFBA73;
    border: none;
    border-radius: 40px;
}
.button-text {
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #216477;

    display: flex;
    gap: 20px;

    padding: 8px 28px
}

footer.footer {
    text-align: center;
    font-size: 40px; /* not template */
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #216477;
    padding: 30px;

    background-color: #89C2D2;
}