main {
    display: flex;
    gap: 32px;
    margin-top: 210px;
}
section.profile_content {
    font: inherit;
}
.tabs_section {
    display: flex;
    gap: 24px;
}
.profile_tab_button {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s cubic-bezier(0.22, 0.67, 0.35, 0.85);
}
.profile_tab_button:hover {
    opacity: 0.8;
}
.tab_button_active {
    opacity: 1;
}
.tab_underline {
    visibility: hidden;
    width: 0%;
    transition: width 0.3s cubic-bezier(0.65, 0.01, 0.41, 1.02);
}
.tab_button_active .tab_underline {
    visibility: visible;
    height: 2px;
    border: none;
    width: 100%;
    background-color: black;
}
.profile_tab_button_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    height: 21px;

    margin-bottom: 6px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-transform: uppercase;
}


.one_line article {
    width: 100%;
}
.one_line .content {
    height: 246px;
}
.one_line .article_image {
    width: 362px;
    height: 246px;
}



section.profile_info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 312px;
}

h1.profile_info_heading {
    position: absolute;
    top: -72px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;

    margin: 0px;
}
.profile_picture {
    width: 312px;
    height: 312px;
    object-position: center;
    object-fit: cover;

    border-radius: 10px;
}
.profile_info_details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    padding: 32px;
    background-color: #ffffff;
    border-radius: 10px;
}
#profile_change_profile_info {
    align-self: center;
}

.profile_info_details_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.profile_info_details_text>p {
    display: flex;
    gap: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}
.profile_info_details_text_label {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-wrap: nowrap;
}
.profile_info_details_text_value {
    overflow: hidden;
    word-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}




.comment{
    width: 1280px;
    border-radius: 10px;
    height: 480px;
    background-color: white;
    margin-top: 30px;
    padding: 0px 33px 0px 33px;
}

.comment__sort{
    display: flex;
    flex-direction: row;
}

.comment__sort-count{
    display: flex;
    flex-direction: row;
    gap:40px ;
    padding: 32px 0px 0px 0px;
}

.comment__sort-heading2{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.comment__sort-paragraph{
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.comment__input-field__enter{
    border: none;
    border-bottom: 1px black solid;
    height: 25px;
}

.comment__enter{
    display: flex;
    gap: 12px ;
    margin-top: 33px;
}

.comment__input-field__enter::placeholder{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


.comments-other-people p{
    color: black;
}

.username{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.usertime{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.username-and-time{
    display: flex;
    gap: 5px ;
}

.likes-and-dislikes{
    display: flex;
    gap: 20px;
}

.likes-and-dislikes div{
    display: flex;
    align-items: center;
}

.comment__user{
    display: flex;
    gap: 12px;
    /* width: 872px; */
}
.full-comments p{
    margin-bottom: 10px;
}

.likes__comment img{
    margin-top: -8px;
}

.comments-other-people{
    margin-top: 24px;
    width: 882px;
}

.comment__button{
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    width: 200px;
    height: 60px;
    border: 1px black solid;
    float: right;
    position: relative;
    top: -295px;
    cursor: pointer;
}

.link_comment a {
    font-weight: 600;
    text-decoration: underline;
}