/* Стили для страницы поиска статей */
.articles_section {
    margin-top: 212px;
    font: inherit;
}
.section_block {
    font: inherit;
}
.text {
    margin-bottom: 22px;
}
.one_line .content {
    width: 551px;
    height: 315px;
    margin-right: 58px;
    position: relative;
}
.one_line .article_image {
    height: 315px;
    width: 605px;
}

.search_section {
    display: flex;
    gap: 58px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.search_wrapper {
    width: auto;
}
.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 6px 0;
}
.search_input {
    width: 100%;
    border: none;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.search_input:-webkit-autofill {
    border-radius: 10px;
}
.search_input:-webkit-autofill-hover {
    border-radius: 10px;
}
.search_button {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.search_info_item {
    display: flex;
    gap: 6px;
}
.search_info {
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 58px;

    margin-top: 26px;
}
.searchbar {
    min-width: 551px
}
.search_info_name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.search_info_content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.sorting_label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    position: relative;
}
.sorting_order {
    border: none;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    outline: none;
}
.sorting_wrapper {
    padding-top: 36px; 
}


/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 24px;
    background-color: white;
    min-width: 250px;
    z-index: 1;
    border: 1px solid #D1D1D1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown .selection {
    display: flex;
}

.selection img {
    transition: 0.3s;
}