.login {
    width: 68px;
    height: 36px;
    left: 353px;
    top: 436px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #FFFFFF;
}

.email {
    width: 60px;
    height: 36px;
    left: 353px;
    top: 562px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #FFFFFF;
}

.pass {
    width: 60px;
    height: 36px;
    left: 353px;
    top: 562px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #FFFFFF;
}

.password {
    width: 84px;
    height: 36px;
    left: 353px;
    top: 688px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #FFFFFF;
}

.register {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    width: 833px;
    height: 354px;
    left: 353px;
    top: 436px;

    margin-top: 52px;
    margin-left: 33px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.password_access {
    background-color: #15120E;
    border: 1px solid #FF9900;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 10px;
}

.input_text {
    /* Group 45 */
    background-color: #15120E;
    border: 1px solid #FF9900;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 400px;
    height: 60px;
    left: 786px;
    top: 730px;
    margin-bottom: 24px;
}

input.input_text {
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.button1 {
    width: 200px;
    height: 60px;
    background-color: #FF9900;
    border-radius: 10px;
    margin-top: 168px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}

.button2 {
    width: 200px;
    height: 60px;
    background-color: #FF9900;
    border-radius: 10px;
    margin-top: 251px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}

.pass_ac {
    margin-bottom: 6px;
    margin-top: 24px;
    width: 272px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.column2 {
    margin-left: 33px;
}


.login_email {
    margin-top: 83px;
    margin-bottom: 6px;
    
    width: 181px;
    height: 36px;
    left: 353px;
    top: 499px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    color: #FFFFFF;
}